.app-container {
  text-align: center;
}

.app-header-container {
  height: 70px;
}

.app-bar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-bar-logo {
  width: 30%;
}

.app-bar-button {
  width: 10%;
}